<div class="custom-select" [class.variant-paginator]="variant === 'paginator'" (click)="toggle($event)">

  <div class="select-display" [class.open]="open" [class.invalid]="invalid">
    <span class="selected-text" [class.is-placeholder]="selectedLabel === placeholder">
      {{ selectedLabel }}
    </span>

    <i
      class="fi fi-rr-angle-small-down"
      [class.rotate]="open">
    </i>
  </div>

  <div
    class="select-dropdown"
    [class.open]="open">

    <div
      class="select-option"
      *ngFor="let option of options"
      [class.active]="option.value === value"
      (click)="select(option); $event.stopPropagation()">

      <span>{{ option.label }}</span>

      <i *ngIf="option.value === value" class="fi fi-rr-check"></i>

    </div>

  </div>

</div>
