<nav class="navbar">

  <div class="navbar-left">

    <div class="breadcrumb">

      <span class="crumb">
        Norca
      </span>

      <i class="fi fi-br-angle-small-right"></i>

      <span class="crumb">
        {{ currentSection }}
      </span>

      <i class="fi fi-br-angle-small-right"></i>

      <span class="crumb active">
        {{ currentPage }}
      </span>

    </div>

  </div>

  <div class="navbar-right">

    <div class="btn-navbar theme-btn"
         (click)="toggleThemes()">

      <i class="fi fi-bs-palette"></i>

      <div
        class="theme-menu"
        *ngIf="showThemes"
        (click)="$event.stopPropagation()"
      >

        <div
          class="theme-option"
          (click)="changeTheme('theme-rose')"
        >
          <span class="color rose"></span>
          Rose Textile
        </div>

        <div
          class="theme-option"
          (click)="changeTheme('theme-blue')"
        >
          <span class="color blue"></span>
          Corporate Blue
        </div>

        <div
          class="theme-option"
          (click)="changeTheme('theme-green')"
        >
          <span class="color green"></span>
          Emerald Green
        </div>

        <div
          class="theme-option"
          (click)="changeTheme('theme-dark')"
        >
          <span class="color dark"></span>
          Dark Mode
        </div>

      </div>

    </div>

    <div class="btn-navbar notification-btn">

      <i class="fi fi-br-bell"></i>

      <span class="notification-dot"></span>

    </div>

    <button
      type="button"
      class="user-avatar"
      (click)="toggleUserMenu()"
    >
      {{ usuario.charAt(0).toUpperCase() }}
    </button>

    <div
      class="user-menu"
      *ngIf="showUserMenu"
    >

      <div class="user-menu-header">

        <div class="avatar-large">
          {{ usuario.charAt(0).toUpperCase() }}
        </div>

        <div class="user-data">

          <span class="name">
            {{ usuario }}
          </span>

          <span class="role">
            {{ rol }}
          </span>

        </div>

      </div>

      <div class="user-menu-divider"></div>

      <button
        class="user-menu-item logout"
        (click)="logout()"
      >
        <i class="fi fi-br-sign-out-alt"></i>
        Cerrar sesión
      </button>

    </div>

  </div>

</nav>
